@font-face {
    font-family: 'iconfont'; /* Project id 3176554 */
    src: url('//at.alicdn.com/t/font_3176554_3unr5gpxox5.woff2?t=1644547152651') format('woff2'),
        url('//at.alicdn.com/t/font_3176554_3unr5gpxox5.woff?t=1644547152651') format('woff'),
        url('//at.alicdn.com/t/font_3176554_3unr5gpxox5.ttf?t=1644547152651') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shixiangzuojiantou--copy:before {
    content: '\f133';
}

.icon-shixiangzuojiantou-:before {
    content: '\e600';
}

.icon-daifukuan:before {
    content: '\f12f';
}

.icon-shouhou:before {
    content: '\f132';
}
